<div class="container" ng-controller="eventsController">
    <h1>Events</h1>
    <hr>
    <div class="row">
        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <h3>Add/Update Event</h3>

            <form class="form-horizontal" role="form" name="eventForm">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Event name:</label>

                    <div class="col-lg-8">
                        <input class="form-control" type="text" ng-model="event.EventName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Location:</label>

                    <div class="col-lg-8">
                        <input class="form-control" type="text" ng-model="event.Location" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Description:</label>

                    <div class="col-lg-8">
                        <textarea class="form-control" type="text" ng-model="event.Description" required></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label"></label>

                    <div class="col-md-8">
                        <Button class="btn btn-primary" ng-click="eventForm.$valid && addEvent()">Add</Button>
                        <span></span>
                        <Button class="btn btn-info" ng-click="eventForm.$valid && update()">Update</Button>
                        <span></span>
                        <input type="reset" class="btn btn-default" value="Cancel">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">List of Events</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <button type="button" class="btn btn-sm btn-primary btn-create">Create New</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                        <tr>

                            <th>Event Name</th>
                            <th>Event Location</th>
                            <th>Event Description</th>
                            <th>Total Donation</th>
                            <th>Donors</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="event in Events">

                            <td>{{event.EventName}}</td>
                            <td>{{event.Location}}</td>
                            <td>{{event.Description}}</td>
                            <td>{{event.TotalDonation ? event.TotalDonation : "0"}}</td>
                            <td>{{event.DonorsDonated.join(', ')}}</td>
                            <td align="center">
                                <a class="btn btn-danger" ng-click="remove(event._id)"><em class="fa fa-trash"></em></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
